/* Light Mode */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #48041c;
  color: #333;
}

/* Navbar */
.navbar {
  background-color: #48041c;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
   /* Space between logo, links, and toggle */
  width: 100%;
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  font-family: Georgia, serif;
}

.navbar .logo .logo-link {
  display: block;
}

.navbar .logo .logo-link img{
  height: 50px;
  margin: 5px 20px; /* Adjust the margin as needed */
}

.navbar .section-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar .section-link:hover {
  background-color: #ddd;
  color: black;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button, .close-sidebar-button {
  display: none;
}

/* Mobile Styles */
@media (max-width: 800px) {
  .links-container {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    background-color: #48041c;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }

  .navbar .section-link {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }

  .open-sidebar-button, .close-sidebar-button {
    padding: 20px;
    display: block;
  }

  #sidebar-active:checked ~ .links-container {
    right: 0;
  }

  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

/* Toggle Button CSS */
.toggle-container {
  display: flex;
  align-items: center;
  padding: 14px 20px;
}

.toggle-input[type="checkbox"] {
  display: none;
}

.toggle-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 24px;
  background-color: #ccc;
  border-radius: 12px;
  position: relative;
  transition: background-color 0.1s;
}

.circle svg {
  position: absolute;
  width: 20px;
  height: 20px;
  fill: white;
}

.sun {
  left: 4px;
  opacity: 1;
  transition: opacity 0.1s;
}

.moon {
  right: 4px;
  opacity: 0;
  transition: opacity 0.1s;
}

.toggle-input[type="checkbox"]:checked + label .circle {
  background-color: black;
}

.toggle-input[type="checkbox"]:checked + label .sun {
  opacity: 0;
}

.toggle-input[type="checkbox"]:checked + label .moon {
  opacity: 1;
}

.header {
  text-align: center;
  background: white;
  color: black;
  padding: 60px 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header h1 {
  font-size: 50px;
}

/* Sections */
section {
  padding: 20px;
  margin: 20px;
  background-color: #c89d6b;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  font-size: 24px;
  color: #48041c;
  border-bottom: 2px solid #48041c;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

section p {
  font-size: 16px;
  line-height: 1.6;
  color: black;
}

section ul {
  list-style-type: none;
  padding: 0;
}

section ul li {
  background: #eee;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
}

section ul li a {
  color: #48041c;
  text-decoration: none;
}

section ul li a:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  bottom: 0;
}

.footer a {
  color: #c89d6b;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

.navbar.dark-mode {
  background-color: #1c1c1c;
}

.navbar.dark-mode a {
  color: #e0e0e0;
}

.navbar.dark-mode a:hover {
  background-color: #333;
  color: #c89d6b;
}

.header.dark-mode {
  background: black;
  color: #c89d6b;
}

section.dark-mode {
  background-color: #1c1c1c;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

section.dark-mode h2 {
  color: #c89d6b;
  border-bottom: 2px solid #48041c;
}

section.dark-mode p {
  color: #c89d6b;
}

section.dark-mode ul li {
  background: #333;
  color: #c89d6b;
}

section.dark-mode ul li a {
  color: #c89d6b;
  text-decoration: #c89d6b;
}

.footer.dark-mode {
  background-color: #1c1c1c;
}

.footer.dark-mode a {
  color: #48041c;
  text-decoration: none;
}