* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #48041c;
  color: #333;
}
/* Navbar */
.navbar {
  background-color: #48041c;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Space between logo, links, and toggle */
  width: 100%;
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Georgia, serif;
}

.navbar .logo .logo-link {
  display: block;
}

.navbar .logo .logo-link img {
  height: 50px;
  margin: 5px 20px; /* Adjust the margin as needed */
}

.navbar .section-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar .section-link:hover {
  background-color: #ddd;
  color: black;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

/* Mobile Styles */
@media (max-width: 800px) {
  .links-container {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    background-color: #48041c;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }

  .navbar .section-link {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }

  .open-sidebar-button,
  .close-sidebar-button {
    padding: 20px;
    display: block;
  }

  #sidebar-active:checked ~ .links-container {
    right: 0;
  }

  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

/* Toggle Button CSS */
.toggle-container {
  display: flex;
  align-items: center;
  padding: 14px 20px;
}

.toggle-input[type="checkbox"] {
  display: none;
}

.toggle-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 24px;
  background-color: #ccc;
  border-radius: 12px;
  position: relative;
  transition: background-color 0.1s;
}

.circle svg {
  position: absolute;
  width: 20px;
  height: 20px;
  fill: white;
}

.sun {
  left: 4px;
  opacity: 1;
  transition: opacity 0.1s;
}

.moon {
  right: 4px;
  opacity: 0;
  transition: opacity 0.1s;
}

.toggle-input[type="checkbox"]:checked + label .circle {
  background-color: black;
}

.toggle-input[type="checkbox"]:checked + label .sun {
  opacity: 0;
}

.toggle-input[type="checkbox"]:checked + label .moon {
  opacity: 1;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #c89d6b;
  overflow-x: hidden; /* Allows horizontal scrolling */
  position: relative;
}

/* Scroll Wrapper for Top Scrollbar */
.scroll-wrapper {
  overflow-x: auto; /* Enable horizontal scrolling */
  margin-top: 10px;
  position: relative;
}

.scroll-wrapper::-webkit-scrollbar {
  height: 10px;
  background-color: #ccc; /* Customize scrollbar color */
  border-radius: 5px; /* Optional: round the scrollbar thumb edges */
  width: 50px; /* Adjust the scrollbar thumb width to be smaller */
}

.scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: #333; /* Customize scrollbar thumb color */
}

.top-scrollbar {
  overflow-x: auto;
  height: 10px; /* height for the custom top scrollbar */
  width: 100%;
}

.top-scrollbar::-webkit-scrollbar {
  height: 10px;
  background-color: #ccc; /* Customize scrollbar color */
  border-radius: 5px; /* Optional: round the scrollbar thumb edges */
}

.top-scrollbar::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 5px; /* Optional: round the scrollbar thumb edges */
  width: 50px; /* Adjust the scrollbar thumb width to be smaller */
}

#searchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  overflow-x: auto; /* Hide the original scrollbar */
}

table th,
table td {
  border: 2px solid black;
  padding: 10px;
  text-align: left;
  background-color: #f2f2f2;
}

table th {
  background-color: #f2f2f2;
}
